<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tabbarItemTitle</key>
		<string>生活常用</string>
		<key>imageName</key>
		<string>tabbar_profile</string>
		<key>selectedImageName</key>
		<string>tabbar_profile_selected</string>
		<key>controllerView</key>
		<string>WJLifeCommonController</string>
		<key>cellCount</key>
		<integer>3</integer>
		<key>gridModel</key>
		<array>
			<dict>
				<key>gridTitle</key>
				<string>天气预报</string>
				<key>controllerView</key>
				<string>WJWeatherForecastController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>手机号码归属地</string>
				<key>controllerView</key>
				<string>WJNumberLocationController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>邮编查询</string>
				<key>controllerView</key>
				<string>WJPostCodeQueryController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>菜谱查询</string>
				<key>controllerView</key>
				<string>WJFoodMenuQueryController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>基站定位查询</string>
				<key>controllerView</key>
				<string>WJBaseStationLocationQueryController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>空气质量查询</string>
				<key>controllerView</key>
				<string>WJAirQualityQueryController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>身份证查询</string>
				<key>controllerView</key>
				<string>WJIdentityCardQueryController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>IP地址</string>
				<key>controllerView</key>
				<string>WJIPAddressController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>万年历</string>
				<key>controllerView</key>
				<string>WJCalendarController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>中国彩票开奖结果</string>
				<key>controllerView</key>
				<string>WJLotteryDrawResultController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>微信精选</string>
				<key>controllerView</key>
				<string>WJWeChatSelectController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tabbarItemTitle</key>
		<string>便民服务</string>
		<key>imageName</key>
		<string></string>
		<key>selectedImageName</key>
		<string></string>
		<key>controllerView</key>
		<string>WJConvenienceServicesController</string>
		<key>cellCount</key>
		<integer>2</integer>
		<key>gridModel</key>
		<array>
			<dict>
				<key>gridTitle</key>
				<string>健康知识</string>
				<key>controllerView</key>
				<string>WJHealthKnowledgeController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>历史上的今天</string>
				<key>controllerView</key>
				<string>WJHistoryTodayController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>成语大全</string>
				<key>controllerView</key>
				<string>WJIdiomController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>新华字典</string>
				<key>controllerView</key>
				<string>WJXinhuaDictionaryController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>全国省市今日油价</string>
				<key>controllerView</key>
				<string>WJTodayOilPriceController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tabbarItemTitle</key>
		<string>休闲旅游</string>
		<key>imageName</key>
		<string></string>
		<key>selectedImageName</key>
		<string></string>
		<key>controllerView</key>
		<string>WJLeisureTravelController</string>
		<key>cellCount</key>
		<integer>3</integer>
		<key>gridModel</key>
		<array>
			<dict>
				<key>gridTitle</key>
				<string>周公解梦</string>
				<key>controllerView</key>
				<string>WJDukeDreamController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>婚姻匹配</string>
				<key>controllerView</key>
				<string>WJMarriageMatchingController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>手机号码查吉凶</string>
				<key>controllerView</key>
				<string>WJNumberCheckGoodAndBadController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>八字算命</string>
				<key>controllerView</key>
				<string>WJFortuneTellingContrller</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>老黄历</string>
				<key>controllerView</key>
				<string>WJLaohuangliController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>电影票房</string>
				<key>controllerView</key>
				<string>WJMovieBoxOfficeController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tabbarItemTitle</key>
		<string>金融基金</string>
		<key>imageName</key>
		<string></string>
		<key>selectedImageName</key>
		<string></string>
		<key>controllerView</key>
		<string>WJFinancialFundController</string>
		<key>cellCount</key>
		<integer>2</integer>
		<key>gridModel</key>
		<array>
			<dict>
				<key>gridTitle</key>
				<string>银行卡信息</string>
				<key>controllerView</key>
				<string>WJBankCardInformationController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>黄金数据</string>
				<key>controllerView</key>
				<string>WJGoldDataController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>货币汇率</string>
				<key>controllerView</key>
				<string>WJCurrencyExchangeRateController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>白银数据</string>
				<key>controllerView</key>
				<string>WJSilverDataController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>国内现货交易所贵金属</string>
				<key>controllerView</key>
				<string>WJPreciousMetalController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>全球股指查询</string>
				<key>controllerView</key>
				<string>WJStockIndexQueryController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tabbarItemTitle</key>
		<string>用户中心</string>
		<key>imageName</key>
		<string>tabbar_profile</string>
		<key>selectedImageName</key>
		<string>tabbar_profile_selected</string>
		<key>controllerView</key>
		<string>WJUserCenterController</string>
		<key>cellCount</key>
		<integer>2</integer>
		<key>gridModel</key>
		<array>
			<dict>
				<key>gridTitle</key>
				<string>天气预报</string>
				<key>controllerView</key>
				<string>WJWeatherForecastController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>gridTitle</key>
				<string>手机呈码归属地</string>
				<key>controllerView</key>
				<string>WJNumberLocationController</string>
				<key>visible</key>
				<true/>
				<key>imageName</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
